/*css reset*/
* {
    padding: 0;
    margin: 0;
}

:root {
    --icon-color: hsl(334, 66%, 55%);
    --icon-bg-color: none;
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#container {
    padding: 0;
    width: var(--menu-bar-width);
    height: 50px;
    margin: 100px;
}

#container:hover #menu {
    background-color: var(--icon-bg-color);
}

#menu {
    background-color: var(--icon-color);
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    top: 20px;
    transition: background-color 0.3s ease-out;
}

#menu::before,
#menu::after {
    background-color: var(--icon-color);
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
    display: block;
    content: "";
}

/*Balkje boven*/
#menu::before {
    left: 0;
    top: -20px;
    transform: rotate(0deg);
    transform-origin: bottom left;
    transition: all 0.4s ease-in-out;
}

/*balkje onder*/
#menu::after {
    left: 0;
    top: 20px;
    transform: rotate(0deg);
    transform-origin: top left;
    transition: all 0.4s ease-in-out;
}

#container:hover #menu::before {
    transform: rotate(40deg);
    transform-origin: bottom left;
}

#container:hover #menu::after {
    transform: rotate(-40deg);
    transform-origin: top left;
}
