:root {
    --item-color: hsl(334, 66%, 55%);
    --bg-main-color: hsl(0, 0%, 100%);
}

#menu {
    margin: 20px;
    position: relative;
    height: 125px;
    width: 150px;
    background-color: var(--item-color);
}

#menu::before {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    top: 75px;
    width: 150px;
    height: 25px;
    background-color: var(--bg-main-color);
}

#menu::after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    top: 25px;
    width: 150px;
    height: 25px;
    background-color: var(--bg-main-color);
}

